body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#container {
	margin: auto;
	width: 40%;
}

h1 {
	text-align: center;
}

ul#orders {
	padding: 0;
	float: right;
	width: 50%;
	margin: 0;
}

ul#orders li{
	list-style: none;
	background-color: #efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2%;
	margin-bottom: 2%;
}

ul li .edit {
	display: none;
}

ul li.edit .edit{
	display: initial;
}

ul li.edit .noedit{
	display: none;
}

button.remove {
	float: right;
}

div#orderwindow {
	width: 50%;
	float: left;
}